<div class="news pt-10">
  <!-- Header -->
  <div class="container mx-auto px-6 max-w-6xl">
    <div class="flex justify-between items-center">
      <span class="absolute inline-flex h-12 w-22 rounded-md animate-bounce bg-sky-400 opacity-35"></span>
      <h2 class="text-3xl font-black">NEWS</h2>
      <div class="nav-button flex gap-3">
        <button class="p-2 bg-gray-300 rounded-full cursor-pointer hover:bg-gray-400 transition">
          <img src="icon-back.png" alt="previous-icon" class="w-5 h-5">
        </button>
        <button class="p-2 bg-gray-300 rounded-full cursor-pointer hover:bg-gray-400 transition">
          <img src="icon-next.png" alt="next-icon" class="w-5 h-5">
        </button>
      </div>
    </div>

    <!-- News List (Horizontal Scroll) -->
    <div class="mt-5 overflow-x-auto scrollbar-hide">
      <div class="flex gap-6 justify-start">

        <!-- News 1 -->
        <div class="w-[300px] flex-shrink-0 bg-white shadow-lg rounded-lg overflow-hidden">
          <a href="/">
            <img src="news-2-update.png" alt="news2" class="w-full h-44 object-cover
            hover:-scale-x-180 transition-transform duration-500">
          </a>
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-900 uppercase">CLB Vins Q12 "Giang Tay" với Paul Pogba Sau Scandal Cấm Thi Đấu</h3>
            <p class="text-gray-700 text-sm mt-2"> Sau lùm xùm cấm thi đấu từ FIFA, Paul Pogba đang đối mặt với tương lai bất định. Tuy nhiên, CLB Vins Q12 đã ngỏ lời chiêu...</p>
            <div class="flex justify-between items-center mt-3 text-xs text-gray-500">
              <span class="text-red-500 font-bold">TRANSFER</span>
              <span>06:06, 25/03/2025</span>
            </div>
          </div>
        </div>

        <!-- News 2 -->
        <div class="w-[300px] flex-shrink-0 bg-white shadow-lg rounded-lg overflow-hidden">
          <a href="/">
            <img src="news-1.jpg" alt="news1" class="w-full h-44 object-cover
              hover:scale-x-200 transition-transform duration-500">
          </a>
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-900 uppercase">Martin Øduongaard: Tài Năng Bị Lãng Quên Giữa Áp Lực Bóng Đá</h3>
            <p class="text-gray-700 text-sm mt-2"> Martin Øduongaard từng được xem là một trong những tài năng sáng giá của bóng đá thế giới, với kỹ thuật và khả năng điều...</p>
            <div class="flex justify-between items-center mt-3 text-xs text-gray-500">
              <span class="text-red-500 font-bold">PLAYERS</span>
              <span>09:23, 21/03/2025</span>
            </div>
          </div>
        </div>

        <!-- News 3 -->
        <div class="w-[300px] flex-shrink-0 bg-white shadow-lg rounded-lg overflow-hidden">
          <a href="/">
            <img src="news-4-ver2.jpg" alt="news3" class="w-full h-44 object-cover
                  hover:scale-x-240 hover:-translate-x-50">
          </a>
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-900 uppercase"> Cùcù Re Q`uan: "Từ Hư Vô" Lên Đỉnh, Lấy Ronaldo Làm Hình Tượng</h3>
            <p class="text-gray-700 text-sm mt-2"> Cùcù Re Q`uan, đội trưởng của Vins Q12, là minh chứng cho sức mạnh vượt qua mọi khó khăn. Với hình tượng CR7, anh...</p>
            <div class="flex justify-between items-center mt-3 text-xs text-gray-500">
              <span class="text-red-500 font-bold">PLAYERS</span>
              <span>09:53, 07/03/2025</span>
            </div>
          </div>
        </div>

        <!-- News 4 -->
        <div class="w-[300px] flex-shrink-0 bg-white shadow-lg rounded-lg overflow-hidden">
          <a href="/">
            <img src="news-3.jpg" alt="news4" class="w-full h-44 object-cover
                hover:scale-110 transition-transform duration-300">
          </a>
          <div class="p-4">
            <h3 class="text-lg font-bold text-gray-900 uppercase"> Lëv YaBao: Kẻ 2 lần "Về Nhì Vĩ Đại" Tại Giải đấu Cấp Tỉnh</h3>
            <p class="text-gray-700 text-sm mt-2"> Lëv YaBao, chàng thủ môn từng 2 lần về nhì đầy ấn tượng tại giải cấp tỉnh, đã trở thành trụ cột vững chắc của CLB Vins Q12,..</p>
            <div class="flex justify-between items-center mt-3 text-xs text-gray-500">
              <span class="text-red-500 font-bold">PLAYERS</span>
              <span>15:56, 04/03/2025</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- View All Button -->
    <div class="flex justify-center mt-6">
      <a href="/en/news">
        <button class="bg-red-500 text-yellow-300 px-14 py-3 rounded-lg font-bold hover:bg-red-600 transition">
          View all
        </button>
      </a>
    </div>
  </div>
</div>
