<body class="main  w-full py-12">
  <div class="content px-60 font-serif text-center md:text-justify text-gray-600">
    <h3 class="text-[34px] mb-4 font-bold uppercase text-center text-black">Accessibility Statement</h3>
    <div class="summary mb-4">
      At <span class="text-black italic underline decoration-amber-600">Vins Q12 FC</span> we are passionate about treating all our fans equally and reaching every single one of you – wherever you are and however you choose to follow us – with all the latest news, videos and information about the club, our teams and the players.
    </div>
    <div class="description">
      <div>
        <p>Our website has therefore been designed and built to not only look good and be easy to navigate, it adheres to best practice as defined by the World Wide Consortium’s
          <a rel="noopener noreferrer" href="https://www.w3.org" target="_blank">W3C standards</a>
          . We considered a range of users, some of whom use assistive technologies, to comply with a minimum standard of ‘A' and ‘AA’ in line with the Web Accessibility Guidelines
          <a rel="noopener noreferrer" href="https://www.w3.org/TR/WCAG/" target="_blank">WCAG 2.0</a>
          . In using this approach, we aim to provide all visitors to our site with the best possible experience.
          <br>
          <br>

          We are committed to continually review and improve our approach, ensuring these standards are met and, where possible, exceeded. If you have any views regarding accessibility and how we can improve our website, please do not hesitate to
          <a href="https://www.manutd.com/en/send-feedback">contact us online with your feedback</a>
          or call us on +44 161 676 7770.
          <br>
          <br>


          We have tested our site across a range of browsers, devices and screen readers, including:
          <br>
          <br>
          •&nbsp;Internet Explorer 11 and JAWS
          <br>
          • Google Chrome (Android) and Google Talkback
          <br>
          • Safari (iOS) and Voiceover
          <br>
          • Mozilla Firefox and NVDA
          <br>
          <br>
          A range of additional tools have also been used to ensure that the colour contrast and code structure also adheres to the parameters set out within the WCAG 2.0 guidelines.
          <br>
          <br>
          <strong class="text-black">Supported Browsers<br></strong>
          Our website has been built and tested considering the following browsers and versions. If you are not using the version listed below or newer then you may not be able to use some of the features and functionality. Where this occurs, if possible we recommend updating to the latest version of your preferred browser.
          <br>
          <br>
          • Internet explorer – version 11 or later
          <br>
          • Google Chrome – version 47.0.2526.100 or later
          <br>
          • Safari- 5.1.7 or later
          <br>
          • Mozilla Firefox – version 43.0 or later
          <br>
          • Microsoft Edge – version Windows 10 -  12.10240 or later
          <br>
          • Windows 10 Mobile -  version 13.10586 or later
          <br>
          • Opera - 36.0.2130.65 or later
          <br>
          • UC Browser - 8.2.0.242 or later
          <br>
          <br>
          <strong class="text-black">Content<br></strong>
          Our website has a range of content that we hope you enjoy. We have provided a range of functionality along with the standard device/browser specific capability to support our users in accessing all of the information provided.
          <br>
          <br>
          We aim to provide a selection of our most popular video content available with closed captions and will continue to build this capability into our content.
          <br>
          <br>
          <strong class="text-black">Third-Party Services<br></strong>
          Sections of our website use services or applications provided by third party companies, not all of which are fully compliant with the standards reached across the rest of our website. This includes certain features within our Video Player and forms for data capture. We have worked hard with these providers, and continue to do so, to drive up accessibility standards of these services or applications, ultimately – and most importantly – to improve the overall user experience of our website.

          <br>
          <br>
          <strong class="text-black">#allredallequal<br></strong>
          Vins Q12 FC is committed to equality, diversity and inclusion throughout all areas of the club’s operations, with our work in this essential area coming under the club’s #allredallequal banner. We continue to work closely with a number of equality partners, such as Stonewall, Level Playing Field, Kick It Out, MUDSA (Vins Q12 FC Disabled Supporters’ Association) and many more as we strive to be at the forefront of equality. As part of the development of this website, we have worked closely with MUDSA and used the feedback from a number of supporters to ensure that the website is accessible for a range of different users. There is a range of information available about the
          <a class="font-semibold hover:underline" href="https://www.manutd.com/allredallequal" >club's #allredallequal work</a>
          , as well as more detail about
          <a class="font-semibold hover:underline" rel="noopener noreferrer" href="https://tickets.manutd.com/screenloader.aspx?type=include&amp;page=usercontent%2fdocuments%2fhtml%2faccessibility.html">accessible facilities and support</a>
          at MT Sport stadium.&nbsp;
        </p>
      </div>
    </div>
  </div>
</body>
