<!-- Header bg-indigo-900 -->
<header class="absolute bg-transparent text-white py-2 px-20 flex justify-between items-center
              w-full top-0 z-20 transition duration-500 ease-in"
        id="head-scroll">
  <a href="/en" class="pl-30">
    <img src="club-logo-vinsq12.png" alt="vinsq12-logo"
         loading="lazy"
         decoding="async"
         class="w-[70px] h-[70px] hover:scale-110"
         #logo
    >
  </a>
  <div class="navigation pr-50">
    <div class="language flex space-x-2">
      <img src="flag-england.jpg" alt="EN"
           class="h-4 w-4 rounded-full"> <!-- Icon cờ -->
      <span class="pr-3 text-xs">EN</span>
      <span class="text-xs">▼</span>
    </div>
    <nav class="nav-section flex space-x-6 mt-3 font-semibold uppercase tracking-wider">
      <a href="/en/news" class="hover:text-yellow-300">News</a>
      <a href="/en/store" class="hover:text-yellow-300">Store</a>
      <a href="/en/team" class="hover:text-yellow-300">Squad</a>
      <a href="/en/matches" class="hover:text-yellow-300">Matches</a>
    </nav>
  </div>

  <div class="user-panel flex flex-col items-end pr-40">
    <!-- Account -->
    <button class="account flex items-center space-x-2">
      <span class="text-xl">👤</span> <!-- Icon user -->
      <span class="text-sm">Account</span>
      <span class="mr-auto text-sm">▼</span> <!-- Mũi tên -->
    </button>

    <!-- Tickets & Cart -->
    <div class="flex mt-2 space-x-3 my-3 ">
      <a href="#" class="items-center ">
        🎟️ <span class="font-semibold uppercase hover:text-red-600">Tickets</span>
      </a>
      <div class="h-6 w-[1px] bg-white"></div>  <!-- Divider -->
      <a href="#" class="items-center ">
        🛒 <span class="font-semibold uppercase hover:text-red-600">Cart</span>
      </a>
    </div>
  </div>

  <div class=" bg-white rounded-full p-[4px] w-10 h-10 flex items-center justify-center">
    <a href="/chatgpt" class="relative ">
      <img src="chat-gpt.png" alt="">
    </a>
  </div>

</header>




