<div class="sponsor-bg bg-blue-900 w-full ">
  <div class="row-1 pt-5 flex justify-center gap-35">
    <div class="sponsor-1">
      <a href="/https://shopee.vn/">
        <img src="sponsor-shopee.png" alt="Shopee" class="w-35 h-15">
      </a>
    </div>
    <div class="sponsor-2 pt-1">
      <a href="/https://tpb.vn/">
        <img src="sponsor-tpbank.png" alt="TP Bank" class="w-38 h-15">
      </a>
    </div>
    <div class="sponsor-3">
      <a href="/https://fpt.com/">
        <img src="sponsor-fptplay.png" alt="FPT Play" class="w-35 h-16">
      </a>
    </div>
  </div>

  <div class="row-2 py-2 flex justify-center gap-22 ">
    <div class="sponsor-1 pl-10">
      <a href="/https://www.vietnamairlines.com">
        <img src="sponsor-vietnamairlines.png" alt="VietnamAirlines" class="w-35 h-23">
      </a>
    </div>
    <div class="sponsor-2 pl-10">
      <a href="/https://www.petrolimex.com.vn/">
        <img src="sponsor-petrolimex.png" alt="Petrolimex" class="w-50 h-25">
      </a>
    </div>
  </div>
</div>
