
<div class="bg-blue-800 h-[72px] w-full"></div>
<div class="matches-background h-140 bg-cover"
      style="background-image: url('background-matches.jpg')"
>
  <div class="matches ">
    <div class="match-upcoming">
      <div class="row-1 flex justify-center gap-0.5 w-full">
        <div class="relative bg-yellow-400 text-black font-bold text-center py-3 px-38
               clip-trapezoid rounded-sm">
          MT CUP 2024/25
        </div>
        <div class="relative bg-white text-gray-500 font-bold text-center py-3 px-36 mr-4
              clip-trapezoid rounded-sm right-3">
          STANDINGS
        </div>
      </div>

      <div class="row-2 relative flex justify-center items-center
            bg-black text-white font-bold text-center py-0.5 ml-40
             clip-box w-5/7 z-15 rounded-md">
        <span class="pl-2">VINS Q12 FC</span>
        <span class="text-yellow-500 text-6xl pl-55 pr-54 italic">VS</span>
        <span class="">FRANCE 1998</span>
      </div>

      <div class="row-3 bg-white text-center h-80 w-204 ml-50 rounded-b-xl pt-6 relative z-10 bottom-2">
        <p class="status font-medium py-5">Starting later</p>
        <div class="match-info flex gap-14 items-center justify-center">
          <div class="home-club">
            <img src="club-logo-vinsq12.png" alt="vinsq12"
                 class="w-30 h-30">
          </div>
          <div class="timer px-4 pl-5 flex flex-row gap-4 text-red-600 uppercase
          tracking-wide">
            <div class="days  bg-gray-100 p-1 rounded-lg flex flex-col gap-5">
              <span class="number font-mono transform scale-y-250 text-xl">39</span>
              <p class="text font-semibold">Days</p>
            </div>
            <div class="hours bg-gray-100 p-1 rounded-lg flex flex-col gap-5">
              <span class="number font-mono transform scale-y-250 text-xl">29</span>
              <p class="text font-semibold">Hours</p>
            </div>
            <div class="minutes bg-gray-100 p-1 rounded-lg flex flex-col gap-5">
              <span class="number font-mono transform scale-y-250 text-xl">19</span>
              <p class="text font-semibold">Minutes</p>
            </div>
            <div class="seconds bg-gray-100 p-1 rounded-lg flex flex-col gap-5">
              <span class="number font-mono transform scale-y-250 text-xl">09</span>
              <p class="text font-semibold">Seconds</p>
            </div>
          </div>
          <div class="away-club pl-5">
            <img src="club-logo-france98.png" alt="france98"
                 class="w-30 h-30 ">
          </div>
        </div>
        <p class="place py-5 pt-10">Thu, 31/04/2025 - 21:00, MT Stadium</p>
      </div>
    </div>
    <div class="match-former"></div>
  </div>
</div>
