
<div class="flex banner z-0 h-150 bg-cover" style="background-image: url('club-banner.png')">
  <!-- Lớp phủ màu đen mờ -->
  <div class="absolute h-190 inset-0 bg-black opacity-30"></div>

  <!-- Container nội dung -->

  <div class="absolute top-55 left-20 flex flex-col text-white space-y-4 max-w-4xl opacity-87">
    <h4 class="text-xs font-bold tracking-widest bg-cyan-700 hover:text-amber-400 px-2 py-1 rounded-md w-max">ÉQUIPE DE "VINS Q12"</h4>
    <h3 class="text-5xl font-extrabold uppercase leading-tight">Le style, la puissance et l'élégance réunis</h3>
    <p class="text-[16px] font-medium ml-14 mt-4">
      " Conçu pour offrir un <span class="highlight">confort optimal</span> lors de chaque match, ce maillot est la combinaison parfaite entre <span class="highlight">technologie</span> et <span class="highlight">design moderne</span>. Le tissu <span class="highlight">respirant</span>
        permet de maintenir la <span class="highlight">sécheresse</span> tout au long du match, tandis que le design élégant apporte un <span class="highlight">style sportif de haut niveau</span>. Avec ce maillot,
        vous ressentirez la <span class="highlight">puissance</span> et la <span class="highlight">confiance</span> chaque fois que vous entrez sur le terrain. "
    </p>
  </div>

</div>


