<div class="lineup-background h-140 bg-cover mt-20"
     style="background-image: url('background-matches.jpg')"
>
  <div class="lineup-container">
    <div class="flex justify-between items-center p-15 ">
      <h2 class="text-3xl font-black text-white scale-y-150">STARTING LINEUP</h2>
      <div class="nav-button flex gap-3">
        <button class="p-2 bg-gray-300 rounded-full cursor-pointer hover:bg-gray-400 transition">
          <img src="icon-back.png" alt="previous-icon" class="w-5 h-5">
        </button>
        <button class="p-2 bg-gray-300 rounded-full cursor-pointer hover:bg-gray-400 transition">
          <img src="icon-next.png" alt="next-icon" class="w-5 h-5">
        </button>
      </div>
    </div>

    <!-- Grid hiển thị cầu thủ -->
    <div class="px-40 grid grid-cols-4 gap-6">
      <!-- Cầu thủ 1 -->
      <div class="player-card text-center relative group">
        <div class="relative bg-white text-gray-300 rounded-lg p-[13px] w-[180px] h-[250px] ">
          <span class="absolute top-0 left-0 w-0 h-full
                    bg-yellow-400 rounded-lg transition-all duration-500 group-hover:w-3/4"></span>
          <span class="absolute top-4 left-4 text-6xl font-bold transition-all group-hover:text-red-500">1</span>
          <img src="squad-1.png" alt="Filip Nguyen"
               class="absolute  h-70 left-12 bottom-[0px] scale-x-160" />
        </div>
        <p class="text-lg font-bold mt-2 text-white">
          <span class="text-yellow-400">Goalkeeper</span> Lëv YaBao
        </p>
      </div>

      <!-- Cầu thủ 2 -->
      <div class="player-card text-center relative group">
        <div class="relative bg-white text-gray-300 rounded-lg p-[13px] w-[180px] h-[250px] ">
          <span class="absolute top-0 left-0 w-0 h-full
                    bg-yellow-400 rounded-lg transition-all duration-500 group-hover:w-3/4"></span>
          <span class="absolute top-4 left-4 text-6xl font-bold transition-all group-hover:text-red-500">7</span>
          <img src="squad-1.png" alt="Rô Nam Đô"
               class="absolute  h-70 left-12 bottom-[0px] scale-x-160">
        </div>
        <p class="text-lg font-bold mt-2 text-white">
          <span class="text-yellow-400">Midfielder</span> Rô Nam Đô
        </p>
      </div>

      <!-- Cầu thủ 3 -->
      <div class="player-card text-center relative group">
        <div class="relative bg-white text-gray-300 rounded-lg p-[13px] w-[180px] h-[250px] ">
          <span class="absolute top-0 left-0 w-0 h-full
                    bg-yellow-400 rounded-lg transition-all duration-500 group-hover:w-3/4"></span>
          <span class="absolute top-4 left-4 text-6xl font-bold transition-all group-hover:text-red-500">8</span>
          <img src="squad-1.png" alt="Cùcù re Q`uan"
               class="absolute  h-70 left-12 bottom-[0px] scale-x-160">
        </div>
        <p class="text-lg font-bold mt-2 text-white">
          <span class="text-yellow-400">Defender</span> Cùcù re Q`uan
        </p>
      </div>

      <!-- Cầu thủ 4 -->
      <div class="player-card text-center relative group">
        <div class="relative bg-white text-gray-300 rounded-lg p-[13px] w-[180px] h-[250px] ">
          <span class="absolute top-0 left-0 w-0 h-full
                    bg-yellow-400 rounded-lg transition-all duration-500 group-hover:w-3/4"></span>
          <span class="absolute top-4 left-4 text-6xl font-bold transition-all group-hover:text-red-500">9</span>
          <img src="squad-1.png" alt="Øduongaard"
               class="absolute  h-70 left-12 bottom-[0px] scale-x-160">
        </div>
        <p class="text-lg font-bold mt-2 text-white">
          <span class="text-yellow-400">Forward</span> Øduongaard
        </p>
      </div>
    </div>



    <!-- Nút View All -->
    <div class="flex justify-center mt-8">
      <button class="bg-gray-300 text-blue-950 font-serif font-black px-16 py-3 rounded-lg shadow-lg
            hover:bg-blue-400 hover:text-white">
        View all
      </button>
    </div>
  </div>

</div>
